<div class="headerSpace"></div>

<div class="contactForms">
    <div class="container">
        <div class="form">
            <h3>Cotización de Repuestos</h3>

            <div class="field">
                <label for="quoteName">Nombre y Apellido</label><br>
                <input id="quoteName" name="quoteName" ng-model="quote.name" placeholder="Nombre y Apellido">
            </div>

            <div class="field middle">
                <label for="quoteEmail">Email</label><br>
                <input id="quoteEmail" name="quoteEmail" ng-model="quote.email" placeholder="Email"><br>
            </div>

            <div class="field">
                <label for="quotePhone">Teléfono</label><br>
                <input id="quotePhone" name="quotePhone" ng-model="quote.phone" placeholder="Teléfono"><br>
            </div>

            <div class="break"></div>

            <div class="field">
                <label for="quoteBrand">Marca</label><br>
                <input id="quoteBrand" name="quoteBrand" ng-model="quote.brand" placeholder="Marca">
            </div>

            <div class="field middle">
                <label for="quoteModel">Modelo</label><br>
                <input id="quoteModel" name="quoteModel" ng-model="quote.model" placeholder="Modelo"><br>
            </div>

            <div class="field">
                <label for="quoteYear">Año</label><br>
                <input id="quoteYear" name="quoteYear" ng-model="quote.year" placeholder="Año"><br>
            </div>

            <div class="break"></div>

            <label for="quoteAdditionalInfo">Información adicional: Mencione que falla presenta su vehículo, o que repuestos necesita.</label><br>
            <textarea id="quoteAdditionalInfo" name="quoteAdditionalInfo" ng-model="quote.additionalInfo" placeholder="Información adicional"></textarea>

            <div class="break"></div>

            <a href="javascript:void(0);" ng-click="sendQuote();"><i class="fa fa-arrow-circle-o-right"></i> ENVIAR</a>
        </div>

        <div class="form">
            <h3>Envíenos sus comentarios</h3>

            <div class="field">
                <label for="commentName">Nombre y Apellido</label><br>
                <input id="commentName" name="commentName" placeholder="Nombre y Apellido">
            </div>

            <div class="field middle">
                <label for="commentEmail">Email</label><br>
                <input id="commentEmail" name="commentEmail" placeholder="Email"><br>
            </div>

            <div class="field">
                <label for="commentPhone">Teléfono</label><br>
                <input id="commentPhone" name="commentPhone" placeholder="Teléfono"><br>
            </div>

            <div class="break"></div>

            <label for="commentAdditionalInfo">Comentarios</label><br>
            <textarea id="commentAdditionalInfo" name="commentAdditionalInfo" placeholder="Información adicional"></textarea>

            <div class="break"></div>

            <a href="javascript:void(0);"  ng-click="sendComment();"><i class="fa fa-arrow-circle-o-right"></i> Enviar</a>
        </div>

        <div class="break"></div>
    </div>
</div>

<div class="info">
    <div class="container">
        <div class="branch">
            <h4>RSV Rectorado</h4>

            <h5>Dirección</h5>
            <p>
                Avenida 123 con Calle Avenida Bolívar Norte, Local Cívico 123-21, Sector Bolívar Norte. Valencia, Estado Carabobo. (Al lado del Rectorado).
                <br>
                <a href="https://www.google.com/maps/place/10%C2%B012'01.1%22N+68%C2%B000'25.1%22W/@10.2003193,-68.006986,3932m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank"><i class="fa fa-map"></i> Ver en Google Maps</a>
            </p>

            <h5>Teléfonos</h5>
            <p>
                <a href="tel:+582418256024">(0241) 825.60.24</a>
                <a href="tel:+582418253925">(0241) 825.39.25</a>
            </p>

            <h5>Emails</h5>
            <p>
                <a href="mailto:compras1@rsv.com.ve">compras1@rsv.com.ve</a>
                <a href="mailto:administracion1@rsv.com.ve">administracion1@rsv.com.ve</a>
            </p>

            <h5>Horario de Atención</h5>
            <p>
                De lunes a viernes en horario corrido desde las 8:00am hasta las 5:00pm.
            </p>
        </div>

        <div class="branch">
            <h4>RSV Palacio de los Iturriza</h4>

            <h5>Dirección</h5>
            <p>
                Urbanización Kerdell, Avenida Miranda entre Calle Rojas Queipo y Calle 122, Edificio PANAM, piso P.B., local 01. Valencia, Estado Carabobo. (Diagonal al Palacio de los Iturrizas).
                <br>
                <a href="https://www.google.com/maps/place/10%C2%B011'57.1%22N+68%C2%B000'19.4%22W/@10.1991923,-68.005386,3932m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank"><i class="fa fa-map"></i> Ver en Google Maps</a>
            </p>

            <h5>Teléfonos</h5>
            <p>
                <a href="tel:+582417114883">(0241) 711.48.83</a>
                <a href="tel:+582418268164">(0241) 826.81.64</a>
                <a href="tel:+584141892294">(0414) 189.22.94</a>
                <a href="tel:+582418269653">(0241) 826.96.53</a>
            </p>

            <h5>Emails</h5>
            <p>
                <a href="mailto:compras2@rsv.com.ve">compras2@rsv.com.ve</a>
                <a href="mailto:administracion2@rsv.com.ve">administracion2@rsv.com.ve</a>
            </p>

            <h5>Horario de Atención</h5>
            <p>
                De lunes a viernes en horario corrido desde las 8:00am hasta las 5:00pm.
            </p>
        </div>

        <div class="branch">
            <h4>RSV Palacio de Justicia</h4>

            <h5>Dirección</h5>
            <p>
                Av. 93 (Av. Lisandro Alvarado), número civico 111-56, parroquia Candelaria. Valencia, Estado Carabobo. (A una cuadra del Palacio de Justicia).
                <br>
                <a href="https://www.google.com/maps/place/10%C2%B010'25.8%22N+68%C2%B000'47.0%22W/@10.1738283,-68.013042,3929m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank"><i class="fa fa-map"></i> Ver en Google Maps</a>
            </p>

            <h5>Teléfonos</h5>
            <p>
                <a href="tel:+582415144027">(0241) 514.40.27</a>
                <a href="tel:+584141892294">(0414) 189.22.94</a>
            </p>

            <h5>Emails</h5>
            <p>
                <a href="mailto:compras3@rsv.com.ve">compras3@rsv.com.ve</a>
                <a href="mailto:administracion3@rsv.com.ve">administracion3@rsv.com.ve</a>
            </p>

            <h5>Horario de Atención</h5>
            <p>
                De lunes a viernes en horario corrido desde las 7:00am hasta las 4:00pm.
            </p>
        </div>

        <div class="break"></div>
    </div>
</div>
