<div class="headerSpace"></div>

<div class="payments">
    <div class="container">
        <div class="payment">
            <h4>RSV Rectorado</h4>

            <h5>Los pagos deben ser realizados a nombre de:</h5>
            <p>
                Ruedas y Suspensiones Group, C.A.
                <br>
                J-40083124-5
            </p>

            <h5>Bicentenario</h5>
            <p>
                Cta. Corriente<br>
                0175-0085-65-0071596268
            </p>

            <h5>Provincial</h5>
            <p>
                Cta. Corriente<br>
                0108-0123-16-0100217014
            </p>

            <h5>Banco de Venezuela</h5>
            <p>
                Cta. Corriente<br>
                0102-0327-95-0000117003
            </p>

            <h5>Banco Exterior</h5>
            <p>
                Cta. Corriente<br>
                0115-0050-12-1002134794
            </p>

            <h5>Bancaribe</h5>
            <p>
                Cta. Corriente<br>
                0114-0222-43-2227000891
            </p>

            <h5>Banplus</h5>
            <p>
                Cta. Corriente<br>
                0174-0114-97-1144134267
            </p>

            <h5>También aceptamos pagos con:</h5>
            <p>
                Tarjetas de Débito, Tarjetas de Crédito (Visa y MasterCard).
            </p>
        </div>

        <div class="payment">
            <h4>RSV Palacio de los Iturriza</h4>

            <h5>Los pagos deben ser realizados a nombre de:</h5>
            <p>
                Ruedas y Suspensiones de Venezuela, C.A.
                <br>
                J-31479179-6
            </p>

            <h5>Banesco</h5>
            <p>
                Cta. Corriente<br>
                0134-0319-80-3193040135
            </p>

            <h5>Bicentenario</h5>
            <p>
                Cta. Corriente<br>
                0175-0085-61-0071596251
            </p>

            <h5>BOD</h5>
            <p>
                Cta. Corriente<br>
                0116-0465-01-0008201994
            </p>

            <h5>Provincial</h5>
            <p>
                Cta. Corriente<br>
                0108-0082-08-0100168984
            </p>

            <h5>Banco de Venezuela</h5>
            <p>
                Cta. Corriente<br>
                0102-0327-90-0000027614
            </p>

            <h5>Banco del Tesoro</h5>
            <p>
                Cta. Corriente<br>
                0163-0223-68-2233002037
            </p>

            <h5>100% Banco</h5>
            <p>
                Cta. Corriente<br>
                0156-0012-84-0000167254
            </p>

            <h5>BNC</h5>
            <p>
                Cta. Corriente<br>
                0191-0127-43-2100006445
            </p>

            <h5>Banco Exterior</h5>
            <p>
                Cta. Corriente<br>
                0115-0050-17-1002057980
            </p>

            <h5>También aceptamos pagos con:</h5>
            <p>
                Tarjetas de Débito, Tarjetas de Crédito (Visa, MasterCard y American Express).
            </p>
        </div>

        <div class="payment">
            <h4>RSV Palacio de Justicia</h4>

            <h5>Los pagos deben ser realizados a nombre de:</h5>
            <p>
                Ruedas y Suspensiones de Venezuela, C.A.
                <br>
                J-31479179-6
            </p>

            <h5>Banesco</h5>
            <p>
                Cta. Corriente<br>
                0134-0319-80-3193040135
            </p>

            <h5>Bicentenario</h5>
            <p>
                Cta. Corriente<br>
                0175-0085-61-0071596251
            </p>

            <h5>BOD</h5>
            <p>
                Cta. Corriente<br>
                0116-0465-01-0008201994
            </p>

            <h5>Provincial</h5>
            <p>
                Cta. Corriente<br>
                0108-0082-08-0100168984
            </p>

            <h5>Banco de Venezuela</h5>
            <p>
                Cta. Corriente<br>
                0102-0327-90-0000027614
            </p>

            <h5>Banco del Tesoro</h5>
            <p>
                Cta. Corriente<br>
                0163-0223-68-2233002037
            </p>

            <h5>100% Banco</h5>
            <p>
                Cta. Corriente<br>
                0156-0012-84-0000167254
            </p>

            <h5>BNC</h5>
            <p>
                Cta. Corriente<br>
                0191-0127-43-2100006445
            </p>

            <h5>Banco Exterior</h5>
            <p>
                Cta. Corriente<br>
                0115-0050-17-1002057980
            </p>

            <h5>También aceptamos pagos con:</h5>
            <p>
                Tarjetas de Débito, Tarjetas de Crédito (Visa y MasterCard).
            </p>
        </div>

        <div class="break"></div>
    </div>
</div>
