<div class="headerSpace"></div>

<div class="promos">
    <div class="container">
        <div class="form">
            <h3>Promoción Grand Cherokee WK 2006-2010</h3>

            <div class="field">
                <label for="promoCustomerId">Cédula/RIF</label>
                <input id="promoCustomerId" name="promoCustomerId" ng-model="promo.customerId" placeholder="Cédula/RIF">
            </div>

            <div class="field middle">
                <label for="promoName">Nombre/Razón Social</label>
                <input id="promoName" name="promoName" ng-model="promo.name" placeholder="Nombre/Razón Social">
            </div>

            <div class="field">
                <label for="promoEmail">Email</label>
                <input id="promoEmail" name="promoEmail" ng-model="promo.email" placeholder="Email">
            </div>

            <div class="break"></div>

            <div class="field">
                <label for="promoPhone">Teléfono</label>
                <input id="promoPhone" name="promoPhone" ng-model="promo.phone" placeholder="Teléfono">
            </div>

            <div class="field middle">
                <label for="promoVehicle">Vehículo</label>
                <input id="promoVehicle" name="promoVehicle" ng-model="promo.vehicle" placeholder="Vehículo" disabled>
            </div>

            <div class="field">
                <label for="promoYear">Año</label><br>
                <select id="promoYear" name="promoYear" ng-model="promo.year">
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                </select>
            </div>

            <div class="break"></div>

            <div class="field large">
                <label for="promoPlate">Placa</label>
                <input id="promoPlate" name="promoPlate" ng-model="promo.plate" placeholder="Placa">
            </div>

            <div class="break"></div>

            <div class="result success" ng-show="promo.result=='success'">
                <i class="fa fa-check-square-o"></i> Sus datos han sido enviados. Gracias por preferirnos.
                <br>
                <i class="fa fa-shopping-cart"></i> Ahora debe dirigirse a la sucursal RSV al lado del Rectorado.
                <br>
                <a class="map" href="https://www.google.com/maps/place/10%C2%B012'01.1%22N+68%C2%B000'25.1%22W/@10.2003193,-68.006986,3932m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank"><i class="fa fa-map"></i> Ver ubicación en Google Maps</a>

                <div class="break"></div>
            </div>

            <div class="result error" ng-show="promo.result=='error'">
                <i class="fa fa-exclamation-triangle"></i> Hubo un problema al enviar sus datos. Vuelva a intentar.
            </div>

            <div class="result data" ng-show="promo.result=='data'">
                <i class="fa fa-keyboard-o"></i> Debe llenar todos los datos del formulario.
            </div>

            <a href="javascript:void(0);" ng-click="sendPromo();"><i class="fa fa-arrow-circle-o-right"></i> ENVIAR</a>
        </div>

        <div class="break"></div>
    </div>
</div>
